* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  display: flex;
  flex-direction: row;
  gap: 90px;
  padding: 0px 90px;
  height: 50px;
  align-items: center;
  justify-content: right;
}
#header > i {
  display: none;
}
#logo {
  height: 35px;
  width: 35px;
  background-color: #1863e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 26px;
  color: white;
  /* margin-bottom: 10px; */
  margin-right: 150px;
}
#header-cantent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* font-family: sans-serif; */
  color: #4b5568;
}
#header-button {
  display: flex;
  flex-direction: row;
  gap: 26px;
  /* font-family: sans-serif; */
}
#header-sign-up {
  padding: 10px 15px;
  background-color: #1863e5;
  border: none;
  border-radius: 10px;
  color: white;
}
#header-sign-in {
  padding: 10px 10px;
  color: #4b5568;
}
#marketplace {
  height: 35px;
  background: linear-gradient(45deg, #8711c1 0%, #2472fc 100%);
  color: #f8f9fe;
  display: flex;
  flex-direction: row;
  /* font-family: sans-serif; */
  justify-content: center;
  align-items: center;
  font-size: 13px;
  gap: 10px;
  font-weight: 400;
}
#marketplace-button {
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 5px 10px;
}
#center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 660px;
  gap: 20px;
}
#refer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 550px;
}
#job-Refer {
  font-size: 54px;
  font-weight: 900;
  color: #1863e5;
}
#job-hunt {
  font-size: 54px;
  font-weight: 900;
}
#get-refer {
  padding: 25px 0px;
  font-size: 18px;
  color: #171923;
}
#refer-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
#refer-button > div {
  padding: 18px 25px;
  border-radius: 8px;
}
#get-refer-button {
  background-color: #1863e5;
  color: #ffffff;
  border: none;
}
#give-refer-buton {
  border: 2px solid #1863e5;
}
#compney {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#compney > div {
  display: flex;
  flex-direction: row;
  border: 1px solid #e2e8f0;
  height: 80px;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
  padding: 0px 20px;
  padding-right: 80px;
  font-size: 18px;
  font-family: sans-serif;
  color: #171923;
}
.comp-logo > img {
  width: 40px;
  border: none;
  border-radius: 5px;
}
#sidebar {
    /* display: flex; */
    flex-direction: column;
    width: 55vw;
    gap: 3vh;
    background-color: #ffffff;
    position: fixed;
    top: 6.01vh;
    left: 45vw;
    padding: 5vh 4vw;
    height: 94vh;
    border-left: 1px solid #333;
    display: none;
  }
#sidebar .viwe {
  display: block;
}
@media only screen and (min-width: 300px) and (max-width: 567px) {
  #header {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    gap: 22vw;
    height: 6vh;
    align-items: center;
    justify-content: right;
    z-index: 999;
    background-color: white;
  }
  #header .fix{
    position: fixed;
  }
  #header > i {
    display: block;
  }
  #header-cantent {
    display: none;
  }
  #marketplace {
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: 5px 5vw;
    text-align: center;
  }
  #header-sign-up {
    display: none;
  }
  #header-sign-in {
    display: none;
  }
  #center-content {
    flex-direction: column;
    height: 140vh;
    width: 100vw;
  }
  #refer {
    width: 100vw;
    padding: 3vw;
    text-align: center;
    align-items: center;
  }
  #compney {
    width: 100vw;
    padding: 10vh 3vw;
  }
  #sidebar {
    display: flex;
    flex-direction: column;
    width: 55vw;
    gap: 3vh;
    background-color: #ffffff;
    position: fixed;
    top: 6.01vh;
    left: 45vw;
    padding: 5vh 4vw;
    height: 94vh;
    border-left: 1px solid #333;
    display: none;
  }
  #sidebar > a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
  }
  .sidebar.viwe {
    display: block;
}
}
